.tabBox .tab {
  padding: 1.5rem 0;
}
.tabBox .tab ul {
  text-align: center;
}
.tabBox .tab ul li {
  display: inline-block;
  background: #74c5be;
  border-radius: 0 0.7rem;
  padding: 0.05rem 0.8rem;
}
.tabBox .tab ul li h3 {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.25rem;
  color: white;
}
.tabBox .tab ul li.active {
  background: #ed85ad;
}
.tabBox .content > div {
  display: none;
}
.tabBox .content > div:first-child {
  display: block;
}
.commentList {
  text-align: left;
}
.commentList ul li {
  width: 100%;
  height: 3rem;
  padding: 0 0 0.3rem;
  border: 1px solid #dcdcdc;
  margin-top: 0.5rem;
  box-sizing: border-box;
}
.commentList ul li .left {
  width: 20%;
  height: 3rem;
  float: left;
  text-align: center;
  line-height: 3rem;
}
.commentList ul li .left img {
  width: 2.25rem;
  height: 2.25rem;
}
.commentList ul li .right {
  width: 80%;
  float: right;
}
.commentList ul li .right .stars {
  line-height: 0.8rem;
}
.commentList ul li .right .stars img {
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
}
.commentList ul li .right .comment {
  margin-top: 0.3rem;
  height: 1.75rem;
  overflow: hidden;
}
.commentList ul li .right .comment p {
  line-height: 0.8rem;
  font-size: 0.6rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #565656;
}
video {
  width: 100%;
}
.comment .tabBox .tab {
  padding-bottom: 1rem;
}
.comment .tabBox .tab ul li {
  width: 3.3rem;
  overflow: hidden;
}
.comment .commentList > div {
  padding: 0.3rem 0.6rem;
}
.comment .commentList > div > p {
  text-align: center;
  color: #787878;
  font-size: 0.65rem;
  line-height: 1.2rem;
}
.comment .commentList .page {
  display: none;
  color: #787878;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.comment .commentList .page em,
.comment .commentList .page span {
  margin: 0 0.15rem;
}
.comment .commentList .page em {
  display: none;
}
.comment .commentList .page ul {
  display: inline-block;
  font-size: 0;
}
.comment .commentList .page ul li {
  display: inline-block;
  font-size: 0.6rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0 0.1rem;
  border: none;
}
.comment .commentList .page ul li.cur {
  background: #64bab1;
  border-radius: 50%;
  color: #fff;
}
.comment .commentList .c4 {
  padding: 0.3rem 0;
}
.comment .commentList .c4 ul {
  overflow: hidden;
}
.comment .commentList .c4 ul li {
  width: calc(50% - 0.2rem);
  height: auto;
  border: none;
  float: left;
  text-align: center;
}
.comment .commentList .c4 ul li:nth-child(2n) {
  margin-left: 0.4rem;
}
.comment .commentList .c4 ul li a {
  color: #333;
}
.comment .commentList .c4 ul li a p {
  position: relative;
}
.comment .commentList .c4 ul li a p img {
  height: 4.4rem;
}
.comment .commentList .c4 ul li a p ins {
  display: block;
  height: 1.25rem;
  line-height: 1.25rem;
  background: #ecbc1a;
  color: #fff;
  padding: 0 0.5rem;
  font-size: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.comment .commentList .c4 ul li a p.title {
  padding: 0.2rem;
  font-size: 0.75rem;
}
